:root {
  --main-bg-color: black;
  --text-color: white;
  --accent-color: purple;
  --hover-color: #ccc;
}

body {
  font-family: "Arial", sans-serif;
  color: var(--text-color);
  background-color: var(--main-bg-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-size: 18px; /* Increased from the default (typically 16px) */
}

header {
  background-color: var(--accent-color);
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: var(--hover-color);
}

#hero {
  text-align: center;
  padding: 50px 20px;
}

#hero .product-image img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: none;
}

.product-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

main {
  text-align: center;
}

section {
  margin: auto;
  max-width: 800px;
  padding: 40px 20px;
  border-bottom: 2px solid var(--accent-color);
}

.feature {
  background-color: #333;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
}

#partners {
  background-color: #000;
  color: white;
  padding: 50px 0;
  text-align: center;
}

.partners-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.partner-logo {
  flex: 1 1 20%;
  margin: 20px;
  padding: 20px;
  max-width: 220px;
}

.partner-logo img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.partner-logo p {
  font-size: 1.4em; /* Increased text size for partner names */
  color: #fff;
}
#video {
  text-align: center; /* Centers the text and video */
  padding: 20px;
  margin: auto; /* Centers the section horizontally */
  max-width: 800px; /* Adjust this value based on your layout needs */
}

#video h2 {
  margin-bottom: 20px; /* Adds space between the title and the video */
  color: white; /* Ensure the text is visible, adjust color as necessary */
  font-size: 24px; /* Makes the header text larger and more visible */
}

video {
  width: 100%; /* Responsive width */
  max-width: 800px; /* Maximum width of the video */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Ensures the video is treated as a block element */
  margin: 0 auto; /* Centers the video within the section */
  border-radius: 8px; /* Optional: adds rounded corners to the video */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Optional: adds shadow for depth */
}

footer {
  background-color: #222;
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}
